
div#editmodhouse_unit tr[id^="tr_first_name"],
div#editmodhouse_unit tr[id^="tr_medical"],
div#editmodhouse_unit tr[id^="tr_origin_country"]{
	background-color: #CCFFFF;
}

div#editmodhouse_unit tr[rowpos="70"]>td{
	border-top:thick solid #A6C9E2;
}
div#editmodhouse_unit select[id^="origin_country"]{
	width: 80px;
}

div#editmodhouse_unit .ui-jqdialog-content .CaptionTD {
    vertical-align: top;
}

div#editmodhouse_unit tr#tr_contacts td{
	color: #2E6E9E;
}

div#editmodhouse_unit .ui-jqdialog-content .DataTD,
div#editmodcontact .ui-jqdialog-content .DataTD
{
    /*border-top: 1px solid #A6C9E2;*/
    padding: 3px 0;
}

div#editmodcontact .FormGrid tr.FormData{
	background-color: #CCFFFF;
}

.jset-grid-container {
    padding: 0px;
}

.CaptionField {
	color: #2E6E9E;
	vertical-align:middle;
        font:arial;
	font-size:1.1em;
	font-weight:600;
	padding: 0px 2px 0px 2px;
	white-space: nowrap;
	/* border-top: 1px solid #A6C9E2; */
}

.ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial;
    font-size: 1.1em;
}

