Options +FollowSymLinks
RewriteEngine On
# pass-through if another rewrite rule has been applied already
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

#RewriteRule ^files/(.+)$ /tamir/jset/server/get_file.php?filename=$1 [L]